.modal-body input, .modal-body textarea, .modal-body select{
    margin: 12px 0px;
    width: 100%;
    background: #e3f5fd;
    border-radius: 15px;
    padding: 4px 12px;
    border: 1px solid black;
}
.btns{
    display: flex;
    justify-content: space-between;
}
.tableC{
    width: 100%;
}
.tableC ul{
    list-style: none;
    padding: 0;
}
.tablecontainer{
    margin: 10px;
}
.home_top{
    padding-top: 20px;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.tables{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.addbtns{
    display: flex;
}
.addbtns button{
    margin: 3px;
}
.table svg{
    cursor: pointer;
}
@media only screen and (max-width:800px){
    .tables{
        display: flex;
        width: 90%;
        flex-direction: column;
    }
}
@media only screen and (max-width:450px){
    .addbtns{
        flex-direction: column;
    }
    .home_top h4{
        font-size: 15px;
    }
    .addbtns button{
        font-size: 14px;
        padding: 2px;
    }
}